:root {
  --main-font-family: Roboto, sans-serif;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --accent-btn-color: #188ce8;
  --grey-bgc: #2f303a;
  --partner-icon: #afb1b8;
  --section-pt: 94px;
  --section-pb: 94px;
  --accent-duration: 250ms;
  --logo-font: "Raleway", sans-serif;
}
/* ======= COMPONENTS ======== */
body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ============ HEADER ============ */
.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header .container {
  padding: 24px 15px;
}

.logo-text {
  font-family: "raleway", serif;
  color: #000000;
  font-size: 26px;
  font-weight: 700;
}

.logo-accent-color {
  color: var(--accent-color);
}

.main-nav-link {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav-link:hover,
.main-nav-link:focus {
  color: var(--accent-color);
}

.site-nav .items {
  position: relative;
}

.active-page-link {
  color: var(--accent-color);
}

.active-page-link::after {
  content: "";
  position: absolute;
  display: block;
  top: 247%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.auth-nav-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-color);
}

.page-header .container {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.site-nav .items + .items {
  margin-left: 50px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.auth-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  align-items: center;
  fill: currentColor;
}

.auth-nav .items {
  align-items: center;
}

.auth-nav .items + .items {
  margin-left: 50px;
}

/* ============ HERO ============ */

.hero-section {
  background-color: var(--grey-bgc);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-opt.jpg);
  background-size: cover;

  background-repeat: no-repeat;
}

.hero-section .container {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 252px;
  padding-right: 252px;
}

.hero-title {
  color: var(--secondary-accent-color);
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 1.36;
  margin-bottom: 30px;
}

.hero-btn {
  min-width: 200px;
  min-height: 50px;
  color: var(--secondary-accent-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  outline-style: none;
  border-width: 2px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opascity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 580px;
  background-color: var(--secondary-accent-color);
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button-wrap {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button-wrap:hover,
.close-button-wrap:focus {
  fill: var(--accent-color);
}
/* ============ MODAL FORM ============ */

.modal-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}
.form-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}
.modal-name {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}
.user-form-message {
  display: block;
  margin-top: 4px;
  margin-bottom: 20px;
}
.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

/* ============ CHECK-BOX ============ */
.modal-form-check-desc::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  cursor: pointer;
  margin-right: 8px;
  background-image: url("../images/svg/check-box.svg");
}

.modal-form-term:checked + .modal-form-check-desc::before {
  background-image: url("../images/svg/check-label.svg");
  background-position: center;
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  box-shadow: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-term:focus + .modal-form-check-desc::before {
  box-shadow: 0 0 0 1px #2196f3;
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  cursor: pointer;
}
.modal-form-check-desc a {
  color: var(--accent-color);
  text-decoration: underline;
  border: 1px solid transparent;
}
.modal-check-term a:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
}
/* ============ MODAL BTN ============ */
.modal-form-btn {
  display: flex;
  align-self: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding: 10px 55px;
  margin-top: 30px;
  background: var(--accent-color);
  color: var(--secondary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  outline: none;
  background: var(--accent-btn-color);
  box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.15);
  border-radius: 4px;
}
/* ============ FEACHERS ============ */

.feachers .container {
  padding-top: 94px;
  padding-bottom: 47px;
}

.visually-hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feachers-list {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.feachers-list .items {
  width: 270px;
  justify-items: center;
}

.feachers-list .items + .items {
  margin-left: 30px;
}

.thumb {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.feachers-list-title {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  letter-spacing: 0.03em;

  margin-top: 0px;
  margin-bottom: 10px;
}

.feachers-list-text {
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;

  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* ============ DESCRIPTION ============ */

.description .container {
  padding-top: 47px;
  padding-bottom: 94px;
}

.description img {
  display: block;
}

.section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  min-width: 700px;
  margin-top: 0px;
  margin-bottom: 50px;
}

.description .list {
  display: flex;
  justify-content: space-between;
}

.description .items + .items {
  margin-left: 30px;
}

.description .items {
  position: relative;
}

.image-cover {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--secondary-accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;

  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ============ TEAM ============ */
.team {
  background-color: #f5f4fa;
}

.team .container,
.partners .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .list {
  display: flex;
  padding: 0px;
  margin: 0px auto;
  justify-content: space-between;
}

.team .items {
  background: var(--secondary-accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}
.team-cards-descr {
  padding: 30px 32px;
}

.card-name {
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.card-text {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.icon-list {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.icon-items-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  cursor: pointer;
  border-radius: 50%;
  color: var(--partner-icon);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons {
  fill: currentColor;
}

.icon-items-link:hover .team-icons,
.icon-items-link:focus .team-icons {
  color: var(--secondary-accent-color);
}
.icon-items-link:hover,
.icon-items-link:focus {
  color: var(--secondary-accent-color);
  background-color: var(--accent-color);
}

/* ============ PARTNERS ============ */

.partners .conteiner {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}
.partners-title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 50px;
}
.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partners-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  left: 215px;
  top: 2493px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--partner-icon);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-icon {
  fill: currentColor;
}

.partners-link:hover .partners-icon,
.partners-link:focus .partners-icon {
  color: var(--accent-color);
}
.partners-link:hover,
.partners-link:focus {
  border: 1px solid #2196f3;
  color: var(--accent-color);
}

/* ============ FOOTER ============ */

.footer {
  background-color: var(--grey-bgc);
}
.footer .container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}
.main-footer-list {
  display: flex;
}
.main-footer-box {
  display: flex;
  align-items: baseline;
}
.footer-box {
  display: flex;
  flex-direction: column;
}
.footer .logo-text {
  color: var(--secondary-accent-color);

  display: inline-block;
  margin-bottom: 20px;
}
.footer-logo-text {
  color: var(--secondary-accent-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-bottom: 20px;
  font-style: normal;
  display: block;
}
.footer .accent {
  color: var(--accent-color);
}

.contacts {
  font-size: 14px;
  line-height: 1.71em;
  color: var(--secondary-accent-color);
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.email,
.phone {
  color: rgb(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}

.address {
  font-style: normal;
}

.address .items:not(:last-child) {
  margin-bottom: 9px;
}

.invitation {
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
  margin-bottom: 20px;
}
.footer-socials {
  margin-left: 70px;
}

.social-list-footer {
  display: flex;
}
.social-list-item-footer:not(:last-child) {
  margin-right: 10px;
}
.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer-list-icon {
  fill: var(--secondary-accent-color);
}

.social-list-link-footer:focus,
.social-list-link-footer:hover {
  background-color: var(--accent-color);
}
.social-list-link-footer:focus .social-footer-list-icon,
.social-list-link-footer:hover .social-footer-list-icon {
  fill: var(--secondary-accent-color);
}
/* ============ FOOTER MAIN ============ */

.footer-form-main {
  display: flex;
  flex-direction: column;
  width: 570px;
  margin-left: auto;
}
.footer-text {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}

.footer-form-button {
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-accent-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  letter-spacing: 0 0.06em;
  min-width: 200px;
  padding: 10px 28px;
  margin-left: 12px;
  cursor: pointer;
  border: 0;
  transition-property: background-color;
  transition-duration: var(--accent-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email-button {
  display: flex;
  align-items: center;
}

.footer-email-input {
  height: 50px;
  /*left: 815px;
  top: 2785px;*/
  min-width: 358px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2f303a;
  color: var(--color-white);
}

.footer-email-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.footer-button-icon {
  width: 24px;
  height: 24px;
}

/* ============ PROJEKT LIST ============ */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63em;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  outline: none;
  border-width: 2px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-accent-color);
  border-color: var(--accent-color);
  border-width: 2px;
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:active {
  box-shadow: none;
}

.filter-list .filter-list-item + .filter-list-item {
  margin-left: 8px;
}

.project-list .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.project-items {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.project-cards-link {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-cards-link:hover,
.project-cards-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-cards-link:hover .text-overlay,
.project-cards-link:focus .text-overlay {
  transform: translateY(0%);
}
.card-overlay {
  position: relative;
  overflow: hidden;
}
.text-overlay {
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 63px 24px;
  font-family: var(--main-font-family);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--secondary-accent-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.card-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.card-text {
  font-family: var(--main-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 16px;
}
