@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/placeholders';

@import './base/common';
@import './base/container';

@import './components/logo';
@import './components/header';
@import './components/active-page';
@import './components/section-title';
@import './components/team-social-list';
@import './components/social-list';
@import './components/form-join';
@import './components/backdrop';
@import './components/modal';
@import './components/modal-form';
@import './components/footer';

@import './layout/hero';
@import './layout/advantages';
@import './layout/activity';
@import './layout/team';
@import './layout/clients';
