:root {
  --main-font-family: Roboto, sans-serif;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --accent-btn-color: #188ce8;
  --grey-bgc: #2f303a;
  --partner-icon: #afb1b8;
  --section-pt: 94px;
  --section-pb: 94px;
  --accent-duration: 250ms;
  --logo-font: "Raleway", sans-serif;
  --logo-dark: #000000;
  --thumb-color: #f5f4fa;
}
