.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo_black {
  color: var(--logo-black-color);
}

.logo_white {
  color: var(--primary-white-color);
}

.logo_accent {
  color: var(--accent-color);
}
