.modal-form__heading {
  padding-bottom: 12px;
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--blue-color);
  }
  &:focus + .modal-form__icon {
    fill: var(--blue-color);
  }
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__field {
  font-family: var(--main-font-family);
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}
.modal-form__wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transform: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__check-desc {
  display: flex;
  align-items: center;
  font-family: var(--main-font-family);
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 30px;
  &::before {
    display: block;
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
    .modal-form__term:checked + & {
      border-color: var(--blue-color);
      background-image: url(../images/Vector.svg);
      background-color: var(--blue-color);
      background-origin: padding-box;
      background-size: contain;
      background-position-y: center;
    }
    .modal-form__term:focus + & {
      border-color: var(--blue-color);
    }
  }
}

.modal-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--blue-color);
  }
  &::placeholder {
    font-family: var(--main-font-family);
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__btn {
  align-self: center;
  min-width: 200px;
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--blue-color);
  border-radius: 4px;
  padding: 10px 56px;
  cursor: pointer;
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: rgb(17, 102, 172);
  }
}
