.social__list {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--blue-color);
  }
  &:hover .social__icon,
  &:focus .social__icon {
    fill: var(--white-color);
  }
}
.social__icon {
  fill: var(--main-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
