.team-social-list {
  display: flex;
  margin-top: 16px;
}

.team-social-list__item {
  flex-basis: calc(100% / 4 - 10px);

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.team-social-list__link {
  display: flex;
  align-items: center;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list__icon {
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: var(--icon-color);

  &:hover,
  &:focus {
    fill: var(--primary-white-color);
  }

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
