
.visually-hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
  
.feachers-list {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    .items {
      width: 270px;
      justify-items: center;
    }
}

.feachers-list .items + .items {
    margin-left: 30px;
}
  
.thumb {
    height: 120px;
    background-color: var(--thumb-color);
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
  
.feachers__title {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.14;
    letter-spacing: 0.03em;
  
    margin-top: 0px;
    margin-bottom: 10px;
}
  
.feachers__text {
    color: var(--primary-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
  
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}