.partners__title {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--logo-dark);
    margin-bottom: 50px;
}
.partners__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.partners__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    left: 215px;
    top: 2493px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: var(--partner-icon);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border: 1px solid #2196f3;
      color: var(--accent-color);
    }
}
  
.partners__icon {
    fill: currentColor;
    .partners__link:hover &,
    .partners__link:focus &{
      color: var(--accent-color);
    }
}
  


  