:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --logo-black-color: #000000;
  --adress-white-color: rgba(f, f, f, 0.6);
  --background-gray-color: #f5f4fa;
  --background-dark-color: #2f303a;
  --icon-color: #afb1b8;
  --elements-gap: 30px;
}
