:root {
  --main-font-family: Roboto, sans-serif;
  --main-color: #212121;
  --second-color: #757575;
  --blue-color: rgb(33, 150, 243);
  --white-color: #ffffff;
  --background-hero-color: #2f303a;
  --logo-color: #000000;
  --section-pt: 94px;
  --section-pb: 94px;
  --main-icon-color: #afb1b8;
}